# """
# The config.yaml file in your application serves as a centralized location to store all of your application's settings and configuration details. This approach ensures that your settings are consistent throughout your application and are easy to manage and update.

# """

artifacts_root: artifacts

data_ingestion:
  root_dir: artifacts/data_ingestion
  source_url: https://github.com/Zaheer-10/Feature_Engineerning/raw/master/data.zip
  local_data_file: artifacts/data_ingestion/data.zip
  unzip_dir: artifacts/data_ingestion

data_validation:
  root_dir: artifacts/data_validation
  unzip_data_dir: artifacts/data_ingestion/winequality-red.csv
  STATUS_FILE: artifacts/data_validation/status.txt

data_transformation:
  root_dir: artifacts/data_transformation
  data_path: artifacts/data_ingestion/winequality-red.csv
  # transformed_data_path: artifacts/data_transformation/transformed_data

model_trainer:
  root_dir: artifacts/data_trainer
  test_data_path: artifacts/data_transformation/test.csv
  train_data_path: artifacts/data_transformation/train.csv
  model_name: model.joblib
